{% extends 'base.html' %}
{% load static %}


{% block titulo %} Painel {% endblock %}



{% block conteudo %}

      <div class="card mb-3"  >

        <div class="card-header" style="text-align: center">
            <STRONG>TOTAL DE MÃO DE OBRAS E EQUIPAMENTOS</STRONG>
        </div>
        <div class="bordar">
            <h5 style="text-align: center">Total</h5><hr>
            <div class="borda-maior" style="text-align: center">
                    <div class="form-group col-md-12">
                      <label for="qtdTotalMaoObra">Mão de Obras:</label>
                      <h5>{{ qtdTotalMaoObra }}</h5>
                    </div>


                    <div class="form-group col-md-12">
                      <label for="qtdTotalEquipamento">Equipamentos:</label>
                      <h5>{{ qtdTotalEquipamento }}</h5>
                    </div>
            </div><br>

            <form method="post">
                {% csrf_token %}
                <input name="QtdServMaoObra" type="hidden" value="{{ qtdTotalMaoObra }}">
                <input name="QtdServEquip" type="hidden" value="{{ qtdTotalEquipamento }}">
                <input name="diario" type="hidden" value="{{ diario.id }}">
                <button type="submit" class="btn btn-primary">Finalizar</button>
            </form>
        </div>
{% endblock %}
