{% extends 'Diario/base.html' %}
{% load static %}

{% block titulo %} Painel {% endblock %}


{% block conteudo %}

      <div class="container-fluid">
            <!-- abas -->
            <div class="card mb-3">

                <div class="card-header" style="text-align: center">
                  <STRONG>CADASTRO DE OBRA</STRONG>
                </div><br>

                <form method="post">{% csrf_token %}
                  <div class="modal-body">

                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="obraNome" class="col-form-label" >Descrição:</label>
                            <input name="obraNome" type="text" class="form-control" id="obraNome" onkeyup="this.value=this.value.toUpperCase();" placeholder="Ex: Construção A">
                            <input name="empresaUser" type="hidden" value="{{ usuario.id }}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="obraPrazContrat" class="col-form-label" >Prazo:</label>
                            <input name="obraPrazContrat" type="date" class="form-control" id="obraPrazContrat" onkeyup="this.value=this.value.toUpperCase();" placeholder="Ex: 00/00/0000">
                            <input name="empresaCliente" type="hidden" value="{{ cliente.id }}">
                          </div>
                      </div>
                  </div>

                  <div class="card-body"><hr>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </div>
                </form>
            </div>
      </div>
{% endblock %}

